.main{
	width: 500px;
	height: 500px;
	background: skyblue;
	font-size:100;
	color:white;
	text-align: center;
	font-family: verdana;
}
.main:hover{
	height: 500px;
	color:black;
	background: green;
	background: red;
}